# Cloudflare
CLOUDFLARE_API_TOKEN=
CLOUDFLARE_ACCOUNT_ID=

# Better Auth
BETTER_AUTH_SECRET=    # openssl rand -base64 32
BETTER_AUTH_URL=       # e.g. http://localhost:8787

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Stage
STAGE=dev
