# Blockchain configuration
RPC_URL_HTTP=https://rpc-test0-two-zepe2m25hg.t.conduit.xyz
RPC_URL_WS=wss://rpc-test0-two-zepe2m25hg.t.conduit.xyz
SIGNER_PRIVATE_KEY=your_private_key_here
APP_ID=Klok

# Webhook configuration
BATCH_SIZE=100

# Fastify server configuration
PORT=3000
HOST=0.0.0.0 